node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/
.DS_Store
*.log
npm-debug.log*
.env
.env.local
.env.*.local

dist/
build/
coverage/
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.bak